<%- include('../includes/head.ejs') %>
<%- include('../includes/start.ejs') %>

    <%- include('../includes/navigation.ejs') %>
    <main class="main-entry">
        <section class="panel-center">
            <h2>Analysis of <a target="_blank" href="<%= urlAnalyzed %>"><%= urlAnalyzed %></a></h2>
            <p>
                There are <%= analysis.totalWords %> words on this website
                (excluding <a href="/about">stop words</a>).
            </p>
            <p>
                The most used word is "<%= analysis.mostUsedWord %>" with
                <%= analysis.mostUses %> uses found.
            </p>
        </section>
    </main>

<%- include('../includes/end.ejs') %>