<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/chart.css">
<%- include('../includes/start.ejs') %>

    <%- include('../includes/navigation.ejs') %>
    <main class="main-entry">
        <section class="panel-center">
            <h2>Analysis of <a target="_blank" href="<%= urlAnalyzed %>"><%= urlAnalyzed %></a></h2>
            <p>
                There are <%= analysis.totalWords %> words on this website
                (excluding <a href="/about">stop words</a>).
            </p>
            <p>
                The most used word is "<%= analysis.mostUsedWord %>" with
                <%= analysis.mostUses %> uses found.
            </p>
        </section>
        <section class="panel-center" id="chartTopWords"></section>
    </main>

    <script>
        const dataset = JSON.parse('<%- JSON.stringify(analysis.topWords) %>');
    </script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="/scripts/chartTopWords.js"></script>

<%- include('../includes/end.ejs') %>