<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/chart.css">
<%- include('../includes/start.ejs') %>

    <%- include('../includes/navigation.ejs') %>
    <main class="main-entry">
        <button id="switchPanel" class="btn view-switch">View Blog</button>
        <div id="panelData" class="panel-results">
            <section class="panel-center">
                <h2>Analysis of <a class="header__link" target="_blank" href="<%= urlAnalyzed %>"><%= siteTitle %></a></h2>
                <p>
                    There are <%= analysis.totalWords %> words on this website
                    (excluding <a href="/about">stop words</a>).
                </p>
                <p>
                    The most used word is "<%= analysis.mostUsedWord %>" with
                    <%= analysis.mostUses %> uses found.
                </p>
                <p>
                    Top 10 words
                    <label class="switch">
                        <input id="switchCheck" type="checkbox" name="checkbox">
                        <span class="slider"></span>
                    </label>
                    Top 100 words
                </p>
            </section>
            <section class="panel-center" id="dashboardChart"></section>
        </div>
        <div id="panelBlog" class="panel-results">
            <section class="panel-center">
                <h2>Computer Generated Blog</h2>
                <p>
                    This blog is generated using <a href="/about">Markov Chains</a>,
                    which have been trained using the words and phrases from
                    <a target="_blank" href="<%= urlAnalyzed %>"><%= siteTitle %></a>
                </p>
            </section>
            <section class="blog" id="blog">
                <h3><%= generatedTitle %></h3>
                <p><%= generatedBlog %></p>
            </section>
        </div>
    </main>

    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="/scripts/barchart.js"></script>
    <script>
        const topTenWords = JSON.parse('<%- JSON.stringify(analysis.topTenWords) %>');
        const topHundredWords = JSON.parse('<%- JSON.stringify(analysis.topHundredWords) %>');

        const panelData = document.getElementById('panelData');
        const panelBlog = document.getElementById('panelBlog');
        const switchPanel = document.getElementById('switchPanel');
        const switchCheck = document.getElementById('switchCheck');
        const dashboardChart = document.getElementById('dashboardChart');

        const barChart = new BarChart(topTenWords, 'word', 'uses');

        switchPanel.addEventListener('click', function() {
            if (switchPanel.textContent === 'View Blog') {
                switchPanel.textContent = 'View Analysis';
                panelData.style.display = 'none';
                panelBlog.style.display = 'block';
            } else {
                switchPanel.textContent = 'View Blog';
                panelData.style.display = 'block';
                panelBlog.style.display = 'none';
            }
        });

        switchCheck.addEventListener('change', function() {
            if(this.checked) {
                barChart.dataset = topHundredWords;
                barChart.resetCanvas();
            } else {
                barChart.dataset = topTenWords;
                barChart.resetCanvas();
            }
        });
    </script>

<%- include('../includes/end.ejs') %>